section.my-work .section-heading {
  text-align: center;
  padding: 80px 45px 50px 45px;
}

.isotope-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
}

.isotope-box {
  position: relative;
  width: 100%;
}

.isotope-item {
  position: relative;
  width: 100%;
  margin: 1%;
  border-bottom: 2px solid rgba(250, 250, 250, 0.1);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.isotope-item img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

figure.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  /* height:100%; */
  position: absolute;
  opacity: 0;
  z-index: 1;
  margin-left: 25px;
  margin-right: 25px;
}
figure.snip1321 h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #410838;
}
figure.snip1321 span {
  font-size: 16px;
  font-style: italic;
  display: block;
  color: black;
}

figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}

figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

@media (max-width: 846px) {
  figure.snip1321 figcaption { 
  top: 45%;
  height:100%;
}
  figure.snip1321 h4 {
    margin-bottom: 5px;
    color: #410838;
    font-size: 10px;
  }
  figure.snip1321 span {
    font-size: 8px;
    font-style: italic;
    display: block;
    color: black;
  }
}
